<div class="hello-container">
  <div class="hello-form">
    <h2 class="form-title">Saudação Personalizada</h2>

    <div
      data-controller="hello"
      data-hello-saudar-value="Hello">
      <input type="text" data-hello-target="input" placeholder="Digite seu nome...">
      <button data-action="click->hello#saudar">Diga oi</button>
      <p data-hello-target="nome"></p>
    </div>
  </div>
</div>
